@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.header {
    height: 2cm;
    background-color: white;
    font-family: "Lora", serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 100px;
    height: auto;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

h2 {
    font-family: "Lora", serif;
    font-size: 64px;
    font-style: italic;
    color: #F2A633;
    display: flex;
    margin-left: 140px;
}

.hobbies {
    font-family: "Lora", serif;
    font-size: 40px;
    color: #F2A633;
    text-align: center;
    
}

/* Estilos para las imágenes */
.hobbies .imageshobbies {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Espacio entre el título y las imágenes */
}

.hobbies .imagenes img {
    width: 164px;
    height: 164px;
    margin: 0 10px; /* Espacio entre las imágenes */
}

.hobbies .imageshobbies {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Espacio entre el título y las imágenes */
}

.hobbies .imageshobbies img {
    width: 164px;
    height: 164px;
    margin-right: 22px; /* Espacio entre las imágenes */
}

/* Eliminar el margen derecho de la última imagen para evitar un espacio adicional */
.hobbies .imageshobbies img:last-child {
    margin-right: 0;
}

.examplethree {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: black;
    margin-left: 140px;
}

.examplefour {
    width: 255px;
    height: 264px;
}

.examplefive {
    display: flex;
    align-items: center;
}

.columnas1 {
    background-color: #F6F6F4;
    display: flex;
    column-gap: 150px;
    justify-content: center;
    margin-bottom: 120px;
}

.educación {
    font-family: "Lora", serif;
    color: #619DD0;
    font-size: 40px;
}

.experiencialaboral{
    font-family: "Lora", serif;
    color: #619DD0;
    font-size: 40px;
}

.contenido {
    font-family: "Poppins", sans-serif;
    color: black;
    font-size: 20px;
}

footer {
    font-family: "Lora", serif;
    background-color: #619DD0;
    color: white;
    padding: 50px;
    text-align: center;
}